.copyright {
  &__link {
    position: relative;
    display: block;
    width: 27px;
    height: 34px;
  }

  &__icon {
    color: #000000;

    &:hover {
      color: #81b3d2;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
