.features__list {
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    margin: 0;
    padding: 0;
}

.features__item {
  list-style: none;
  background-color: @main-color;
  &--color {
    background-color: #eeeeee;
  }
}

.features__title {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  &--city,
  &--bridge {
    padding-top: 55px;
  }
  &--color {
    color: #000000;
  }
}

.features__descr {
  margin: 0;
  line-height: 21px;
  padding-top: 59px;
  &--city,
  &--bridge {
    padding-bottom: 39px;
  }
  &--color {
    color: #000000;
  }
}

.features__img {
  display: block;
}

.features-city {
  &__list {
    margin: 0;
    padding: 35px 0 7px 52px;
    text-align-last: left;
    background-color: #ffffff;
  }
  &__item {
    list-style: none;
  }
  &__subtitle {
    margin: 0;
    padding-bottom: 24px;
    font-size: 18px;
    color: #000000;
  }
  &__descr {
    width: 211px;
    margin: 0;
    padding-bottom: 28px;
    color: #000000;
    line-height: 21px;
  }
}
