.features {
  &__block {
    background-color: @blue;

    @media (min-width: @tablet-width) {
      display: grid;
      grid-template-columns: 33% 67%;
    }
  }

  &__block--bridge {
    @media (min-width: @tablet-width) {
      grid-template-columns: 67% 33%;
    }
  }

  &__text {
    text-transform: uppercase;

    &--bridge {
      @media (min-width: @tablet-width) {
        order: 2;
      }
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-transform: uppercase;

    &--sedona {
      display: grid;
      row-gap: 26px;
      padding: 35px 0;
      background-color: @white;

      @media (min-width: @tablet-width) {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    &--place {
      padding: 0 20px;
      background-color: @grey;

      @media (min-width: @tablet-width) {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
      }
    }
  }

  &__item {
    &--sedona {
      background-color: @white;
      padding-left: 70px;

      @media (min-width: @tablet-width) {
        padding: 0;
        width: 33%;
      }
    }

    &--place {
      @media (min-width: @tablet-width) {
        width: 33%;
      }
    }

    &--place:not(:last-child) {
      @media (max-width: @mobile-width-only) {
        border-bottom: 1px solid #d6d6d6;
      }
    }
  }

  &__title {
    margin: 0;
    padding-top: 34px;
    padding-bottom: 60px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;

    &--color {
      color: @white;
    }
  }

  &__descr {
    margin: 0;
    padding-bottom: 34px;
    font-size: 14px;
    line-height: 21px;
    text-align: center;

    &--color {
      color: @white;
    }
  }

  &__img {
    height: 260px;
    background-color: @blue;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;

    &--town {
      background-image: url("../../img/mobile/town-mobile.jpg");

      @media (min-width: @tablet-width) {
        height: 256px;
        background-image: url("../../img/tablet/town-tablet.jpg");
      }

      @media (min-width: @desktop-width) {
        width: 800px;
        background-image: url("../../img/desktop/town-desktop.jpg");
      }
    }

    &--bridge {
      background-image: url("../../img/mobile/bridge-mobile.jpg");

      @media (min-width: @tablet-width) {
        background-image: url("../../img/tablet/bridge-tablet.jpg");
      }

      @media (min-width: @desktop-width) {
        background-image: url("../../img/desktop/bridge-desktop.jpg");
      }
    }
  }
}

.features__item--sedona>.features__descr,
.features__item--sedona>.features__title {
  padding: 0;
  text-align: left;
}
