.field {
  &__list {
    margin: 0;
    padding: 0;
  }
  &__item {
    list-style: none;
  }
  &__header {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }
  &__label {
    color: #333333;
    text-transform: uppercase;
  }
  &__input {
    font-weight: 700;
  }
  &__mark {
    font-size: 18px;
    font-weight: 700;
  }
}
