.field {
  padding: 0;

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    &--checkbox {
      display: grid;
      grid-template-rows: repeat(4, 56px);
      row-gap: 44px;

      @media (min-width: @tablet-width) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 56px);
      }

      @media (min-width: @desktop-width) {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 56px;
      }
    }
  }

  &__item {
    height: 56px;
  }

  &__group {
    display: flex;
    margin: 0;
  }

  &__header {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 19px;
  }

  &__label {
    color: #333333;
    text-transform: uppercase;
    padding-right: 13px;

    &--contacts {
      padding-left: 42px;
    }
  }

  &__input {
    width: 100%;
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    padding: 18px 22px 14px 22px;
    box-sizing: border-box;
  }

  &__text {
    width: 100%;
    box-sizing: border-box;
  }

  &__mark {
    font-size: 18px;
    font-weight: 700;
  }
}
