.field {
  padding: 0;

  &__list {
    margin: 0;
    padding: 0;
  }

  &__item {
    list-style: none;
  }

  &__header {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 19px;
  }

  &__content,
  &__box {
    padding-left: 20px;
  }

  &__label {
    color: #333333;
    text-transform: uppercase;
    padding-right: 13px;

    &--contacts {
      padding-left: 42px;
    }
  }

  &__input {
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    padding: 18px 22px 14px 22px;
  }

  &__mark {
    font-size: 18px;
    font-weight: 700;
  }
}
