.page-footer {
  padding-top: 40px;
  padding-bottom: 23px;
}

.footer {
  &__hashtag {
      margin: 0;
      font-size: 21px;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
  }

  &__copyright {
    display: flex;
    justify-content: center;
  }

  &__wrapper {
    @media (min-width: @tablet-width) {
      padding-left: 60px;
      padding-right: 60px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    @media (min-width: @desktop-width) {
      padding: 0;
    }
  }
}

.copyright {
  &__text {
    margin: 0;
    text-transform: uppercase;
    text-align: center;
  }
}
