.form {
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    padding: 0 60px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 120px;
  }

  &__field {
    margin: 0;
    border: none;
  }

  &__required {
    align-self: center;
    justify-self: end;
    margin: 0;

    @media (max-width: @mobile-width-only) {
      display: none;
    }
  }
}

@media (min-width: @tablet-width) {
  .form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, min-content);
    grid-template-areas:
      "radio name"
      "contacts contacts"
      "checkbox checkbox"
      "textarea textarea"
      "button start";
  }

  .field {
    &--name {
      grid-area: name;
    }

    &--contacts {
      grid-area: contacts;

      @media (min-width: @desktop-width) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
    }

    &--radio {
      grid-area: radio;
    }

    &--checkbox {
      grid-area: checkbox;
    }

    &--textarea {
      grid-area: textarea;
    }
  }
}
