.form {
  display: grid;
  grid-template-rows: repeat(5, min-content);

  &__field {
    margin: 0;
    padding-bottom: 25px;
    border: none;
  }
}

.legend {
  display: none;
}

@media (min-width: @tablet-width) {
  .legend {
    display: block;
  }

  .form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, min-content);
    grid-template-areas:
    "impression name"
    "contacts contacts"
    "attraction attraction"
    "description description"
    "button legend";
  }

  .field-name {
    grid-area: name;
  }

  .field-impression {
    grid-area: impression;
  }

  .field-contacts {
    grid-area: contacts;
  }

  .field-attraction {
    grid-area: attraction;
  }

  .field-description {
    grid-area: description;
  }

  .field-button {
    grid-area: button;
  }

  .legend {
    grid-area: legend;
  }
}
