.info {
  font-size: 14px;
  line-height: 24px;
  &__caption {
    font-weight: 700;
    text-transform: uppercase;
  }
  &__author {
    color: #333333;
    font-style: normal;
  }
  &__counter {
    font-weight: 700;
    text-transform: uppercase;
  }
}

.info__picture {}

.info__img {}

.info__author {}

.info__list {}

.info__item {}

.info__likes {}

.info__counter {}

.gallery__video {}

.video {}

.video__title {}

.video__descr {}

.video__item {}

.video__button {}

.video__button--color {}

.video__button--repeat {}

.video__button--subtitles {}

.video__button--full-screen {}

.page-footer {}

.footer {}

.footer-wrapper {}

.footer__hashtag {}

.socials {}

.socials__item {}

.socials__link {}

.socials__link--twitter {}

.socials__link--facebook {}

.socials__link--youtube {}

.footer__copyright {}

.copyright {}

.copyright__text {}

.copyright__link {}

.copyright__icon {}
