.gallery {
  display: grid;
  grid-template-rows: min-content 1fr min-content;

  &__wrapper {
    padding: 0 20px;

    @media (min-width: @tablet-width) {
      padding: 0 60px;
    }

    @media (min-width: @desktop-width) {
      padding: 0;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    display: grid;
    row-gap: 20px;
    justify-content: center;

    @media (min-width: @tablet-width) {
      gap: 0;
    }
  }

  &__item {
    list-style: none;
    border-bottom: 1px solid #e5e5e5;
  }
}

@media (min-width: @tablet-width) {
  .gallery__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .gallery__item {
    background-color: #f2f2f2;
  }

  .gallery__item--l {
    grid-column: span 2;
  }

  .gallery__item--s {
    grid-column: span 1;
  }
}

@media (min-width: @desktop-width) {
  .gallery__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .gallery__item--l {
    grid-column: span 3;
  }
}
