.info {
  font-size: 14px;
  line-height: 24px;

  &__picture {
    margin: 0;
  }

  &__img {
    display: block;
  }

  &__caption {
    padding-top: 18px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__author {
    padding-top: 13px;
    color: #333333;
    font-style: normal;
  }

  &__list {
    margin: 0;
  }

  &__counter {
    margin: 0;
    padding-left: 40px;
    font-weight: 700;
    text-transform: uppercase;
  }
}
