.main-nav {
  background-color: @blue;
}

.main-nav__list {
  margin: 0;
  padding: 0;
}

.main-nav__item {
  list-style: none;
  text-align: center;
  height: 55px;
}

.main-nav__link {
  color: @white;
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  text-decoration: none;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .main-nav {
    background-color: #ffffff;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__wrapper {
    padding-left: 49px;
    padding-right: 27px;
  }

  .main-nav__list {
    display: flex;
    justify-content: space-between;
  }

  .main-nav__link {
    color: #000000;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__wrapper {
    padding-left: 91px;
    padding-right: 71px;
  }
}
