.main-header {
  text-align: center;
  text-transform: uppercase;
  padding-left: 20px;
  padding-right: 20px;

  &--gallery {
    padding: 24px 0 44px 0;
  }

  &--features {
    padding-top: 32px;
    padding-bottom: 11px;
  }

  &--form {
    padding: 36px 20px 16px 20px;
    border-bottom: 1px solid #e5e5e5;
  }
}

.main-header__title {
  margin: 0;
  font-size: 18px;
  font-weight: 700;

  @media (max-width: @mobile-width-only) {
    br {
      display: none;
    }
  }
}

.main-header__descr {
  margin: 0;
  padding-top: 20px;

  &--form {
    line-height: 24px;
  }

  &--features {
    padding-top: 44px;
  }
}
