.main-header {
  text-align: center;
  text-transform: uppercase;
  padding-left: 20px;
  padding-right: 20px;
  &--features {
    padding-top: 32px;
    padding-bottom: 11px;
  }
  &--gallery {
    padding-top: 32px;
    padding-bottom: 45px;
    border-bottom: 1px solid #e5e5e5;
  }
  &--form {
    padding-top: 36px;
    padding-bottom: 16px;
    border-bottom: 1px solid #e5e5e5;
  }
}

.main-header__title {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
}

.main-header__descr {
  margin: 0;
  padding-top: 20px;
  &--form {
    line-height: 24px;
  }
  &--features {
    padding-top: 44px;
  }
}
