.page-header {
  &__main-img {
    height: 389px;
    padding-top: 90px;
    background-image: url("../../img/mobile/sedona-mobile.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    text-align: center;

    @media (min-width: @tablet-width) {
      height: 518px;
      padding-top: 77px;
      background-image: url("../../img/tablet/sedona-tablet.jpg");
    }

    @media (min-width: @desktop-width) {
      background-image: url("../../img/desktop/sedona-desktop.jpg");
    }
  }

  &__gallery-img,
  &__form-img {
    height: 106px;
    padding-top: 52px;
    background-image: url("../../img/mobile/sedona-gallery.jpg");
    background-repeat: no-repeat;
    background-position: 50% -56px;
    background-size: cover;
    text-align: center;

    @media (min-width: @tablet-width) {
      height: 195px;
      padding-top: 95px;
      background-image: url("../../img/tablet/sedona-gallery.jpg");
    }

    @media (min-width: @desktop-width) {
      background-image: url("../../img/desktop/sedona-gallery.jpg");
    }
  }

  &__welcome-title {
    display: block;
    margin: 0 auto;

    @media (min-width: @tablet-width) {
      width: 461px;
      height: 350px;
    }
  }

  &__sedona-title {
    display: block;
    margin: 0 auto;

    @media (min-width: @tablet-width) {
      width: 457px;
      height: 78px;
    }
  }
}
