.page-header {
  &__main-img {
    height: 389px;
    padding-top: 90px;
    background-image: url("../../img/mobile/sedona.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    text-align: center;

    @media (min-width: @tablet-width) {
      height: 518px;
      padding-top: 77px;
      background-image: url("../../img/tablet/sedona-tablet.png");
      background-repeat: no-repeat;
    }

    @media (min-width: @tablet-width) {
      background-image: url("../../img/desktop/sedona-desktop.png");
    }
  }

  &__welcome-title {
    box-sizing: border-box;

    @media (min-width: @tablet-width) {
      width: 461px;
      height: 350px;
    }
  }
}
