.visit {
  text-transform: uppercase;
  text-align: center;

  &__wrapper {
    padding: 33px 20px 49px 20px;

    @media (min-width: @tablet-width) {
      padding-left: 155px;
      padding-right: 155px;
    }

    @media (min-width: @desktop-width) {
      padding-left: 371px;
      padding-right: 371px;
    }
  }

  &__title {
    margin: 0;
    font-size: 21px;
    font-weight: 700;
  }

  &__descr {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 35px;
    line-height: 24px;
  }

  &__map {
    display: block;
    width: 100%;
    height: 350px;
  }
}
